.list-view,.text-field,.button{
    -fx-background-color: #328BDB;
    -fx-font-family: "Monospaced";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 5 5 5 5;
    -fx-effect: dropshadow( one-pass-box , rgba(255,255,255,0.2),1, 0.0 , 0 , 1);
    -fx-text-fill: rgb(255,255,255);
    -fx-border-radius: 5;
}


.list-cell:filled:selected:focused, .list-cell:filled:selected{
    -fx-background-color: #21A6E7;
    -fx-border-radius: 5;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Monospaced";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.list-cell,.menu-bar,.menu,.menu-item{
    -fx-background-color: #328BDB;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 5;
    -fx-font-family: "Monospaced";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.choice-box,.combo-box,#close_menu{
    -fx-cursor:hand;
    -fx-background-color: #328BDB;
    -fx-font-family: "Monospaced";
    -fx-font-size: 14px;
    -fx-padding: 1 5 1 5;
    -fx-border-radius: 5;
    -fx-text-fill: rgb(255,255,255);
}
#menu_label{
  -fx-cursor: hand;
  -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.2),1, 0.0 , 0 , 1);
}
#border,.scroll-pane,.anchor-pane{
  -fx-background-color: rgb(230,230,230);
}
.scroll-bar{
  -fx-background-color: #0A65BF;
}
#prev_lbl:hover{
  -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.2),5, 0.0 , 0 , 1);

}
#next_lbl:hover{
  -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.2),5, 0.0 , 0 , 1);

}
