.text-field,.button{
    -fx-background-color: #00BCD4;
    -fx-font-family: "Monospaced";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 5 5 5 5;
    -fx-effect: dropshadow( one-pass-box ,rgba(255,255,255,0.2),1, 0.0 , 0 , 1);
    -fx-text-fill: rgb(255,255,255);
  }

.list-view{
  -fx-background-color: #e5e5e5;
  -fx-padding: 5 5 5 5;
}
.list-cell:hover:focused:selected{
    -fx-font-family: "Helvetica";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: #757575;
}
.list-cell,.menu-bar,.menu,.menu-item{
    -fx-background-color: #e5e5e5;
    -fx-text-fill: #212121;
    -fx-font-family: "Helvetica";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.label{
  -fx-text-fill: #212121;
  -fx-font-family: "Helvetica";
  -fx-font-size: 14px;
  -fx-font-weight: bold;
}
.label:hover{
  -fx-text-fill: #757575;
}
#elements{
  -fx-font-family: "Helvetica";
  -fx-font-size: 13px;
  -fx-text-fill:#FFFFFF;
}
.menu-bar{
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.2),10, 0.0 , 5 , 0);
}
.choice-box,.combo-box,#close_menu{
    -fx-cursor:hand;
    -fx-background-color: #e5e5e5;
    -fx-font-family: "Helvetica";
    -fx-font-size: 14px;
    -fx-padding: 1 5 1 5;
    -fx-text-fill: rgb(255,255,255);
}
#menu_label{
  -fx-cursor: hand;
}
#border,.scroll-pane,.anchor-pane,.scroll-bar{
  -fx-background-color: #e5e5e5;
}

#prev_lbl:hover{
  -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.2),10, 0.0 , 1 , 0);

}
#next_lbl:hover{
  -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.2),10, 0.0 , 1 , 0);

}
#pane{
  -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.2),10, 0.0 , 1 , 0);
}
